@import "tailwindcss";
@plugin "daisyui";

/* Define your themes */
@plugin "daisyui/theme" {
  /* Light theme (default) */
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}

/* Black theme */
@plugin "daisyui/theme" {
  name: "black";
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}